:root {
  --header-color: #a77c5d;
  --main-color-block: #f4e8de;
  --header-shadow: #c4c4c4;
  --text-name: #332317;
  --text: #000;
  --cat-two: #490c97;
  --cat-three: #970c0c;
}
body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-name);
  background-color: var(--main-color-block);
}
.content {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}
.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 14px 12px 14px 12px;
  background-color: var(--header-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 56px;
}
.icon{
    cursor: pointer;
}
.header__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-name);
}
.main{
    padding: 12px;
}
.input{
    width: -webkit-fill-available;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: var(--main-color-block);
    border: 1px solid var(--header-color);
    box-shadow: 0px 4px 4px var(--header-shadow);
    border-radius: 12px; 
}
.form-item{
    position: relative;
}
.form-name{
    position: absolute;
    top: 12px;
    left: 16px;
    margin-top:16px;
}
.form-item .input:focus + .form-name,
.form-item .input:not(:placeholder-shown) + .form-name{
    transform: translate(0px,-40px) ;
    transition: 0.2s;
}
.form-two{
   top:112px;
}
.select {
    background: url(/cat3/img/arrow-drop-down.webp) no-repeat right 14px top 12px;
    text-align: left;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
.form-three{
    top:200px;
}
.form-three{
    position: relative;
}
.input-three{
    width: -webkit-fill-available;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: var(--main-color-block);
    border: 1px solid var(--header-color);
    box-shadow: 0px 4px 4px var(--header-shadow);
    border-radius: 12px;
}
.name-three{
    position: absolute;
    top:12px;
    left:16px;
    margin-top: 16px;
}
.input-three:focus + .name-three{
    transform: translate(0px,-40px) ;
    transition: 0.2s;
}